:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(239, 77, 131);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(78, 77, 77);
  border: 8px solid rgb(239, 77, 131);
  border-radius: 8px;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

#writeList {
  text-align: left;
  margin-bottom: 10px;
}

#buttonClick {
  border-radius: 40px;
}

#sortButton {
  display: block;
  margin-left: 0;
  border-radius: 40px;
}

.done {
  text-decoration: line-through;
}

.delete-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.delete-icon:hover {
  color: rgb(116, 15, 15);
}

.listItem {
  text-align: left; 
  position: relative;
}

.listItem .fa-trash {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.done:hover {
  text-decoration: line-through !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #2031e8;
  }
}

